table {
    border: 1px solid black;
    padding-right: 10em;
    width: 550px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border: 1px solid black;
}

th {
    background: #F00000;
    color: #FFFFFF
}

tr:nth-child(even) {
    background: #FFFFF0;
}

tr:nth-child(odd) {
    background: #FFF000;
}
